@import "mixins";

.playerContainer {
  background-color: rgb(0, 0, 36);
  transition: 0.2s all ease-in-out;
  margin: 1rem;
  border: 0.05rem solid black;
  height: 26rem;
  width: 15rem;
  text-align: center;
  border-radius: 0.5rem;
  .imageContainer {
    border-bottom: 0.1rem solid #ffd700;
    margin-bottom: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    * {
      border-top-right-radius: 0.5rem;
      border-top-left-radius: 0.5rem;
    }
  }
  .information {
    cursor: pointer;
    p {
      transition: 0.2s all ease-in-out;
      font-size: 1.5rem;
      color: #ffd700;
      font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    }
  }
  &:hover {
    position: relative;
    box-shadow: 0 2px 4px 2px #ffd700, 2px 3px 20px 2px #ffd700;
    margin: 0 0.5rem;
    height: 28rem;
    width: 16rem;
    .information {
      p {
        font-size: 1.7rem;
      }
    }
  }
}
